
.table-container {
    width: 60%;
    margin-left: 25%;
    padding-top: 5%;
}

/* Estilos para la tabla */
#watchesTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

/* Estilo para las celdas de la tabla */
#column-name, #column-condition, #column-price, #column-image {
    text-align: center;
    padding: 10px;
}

/* Estilo para las filas */
.watch-row {
    background-color: #f9f9f9;
}

/* Imágenes dentro de la tabla */
.watch-image img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}

/* Estilo de las celdas de cada columna */
.watch-name, .watch-condition, .watch-price, .watch-image {
    text-align: center;
}

/* Estilo del contenedor de error */
.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
