/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#content{
    align-items: center;
    justify-content: center;


}
#image-carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
} 

.carousel-images {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.carousel-images img {
    min-width: 100%;
    height: auto;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    z-index: 10;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.carousel-arrow:focus {
    outline: none;
}

#container{
    width: 60%;
    margin-left: 25%;
}


.image{

}

.details{


}

#title{
    font-size: 23px;
    margin-top: 5px;
    color: rgb(92, 88, 84);
}

#price{
    font-weight: bold;
}

#condition{
    color: rgba(122, 118, 118, 0.945);
}

#date{

}

