* {
    text-decoration: none !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1#title {
    text-align: center;
    margin: 20px 0;
    color: rgb(104, 100, 96);
}

.watches-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 relojes por fila */
    gap: 20px; /* Espaciado entre las tarjetas */
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Estilo individual para cada tarjeta de reloj */
.watch-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    width: 250px; /* Asegura que todas las tarjetas tengan el mismo ancho */
    text-decoration: none;
}

/* Efecto hover de la tarjeta */
.watch-card:hover {
    transform: translateY(-10px);
}

/* Imagen del reloj */
.watch-image {
    height: 200px; /* Ajusta la altura para un aspecto uniforme */
    object-fit: cover; /* Recorta la imagen sin deformar */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

/* Contenedor de contenido dentro de la tarjeta */
.watch-details {
    padding: 15px;
}

/* Nombre del reloj */
.watch-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
}

/* Condición del reloj */
.watch-condition {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
    text-transform: uppercase;
}

/* Precio del reloj */
.watch-price {
    font-size: 17px;
    color: rgb(48, 47, 47);
    font-weight: bold;
    text-align: right;
}

/* Estilo de los enlaces dentro de las tarjetas */
.watch-card a {
    color: inherit;
    text-decoration: none;
}

/* Añadir un borde alrededor de cada tarjeta */
.watch-card {
    border: 1px solid #ddd; /* Borde gris claro */
}


/* Ajustes responsivos */
@media (max-width: 1024px) {
    #container {
        grid-template-columns: repeat(3, 1fr); /* 3 relojes por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    #container {
        grid-template-columns: repeat(2, 1fr); /* 2 relojes por fila en tablets */
    }
}

@media (max-width: 480px) {
    #container {
        grid-template-columns: repeat(1, 1fr); /* 1 reloj por fila en móviles */
    }
}
