*{
    text-decoration: none !important;
}
/* Estilo de cada caja de reloj */
.watch-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    text-decoration: none; /* Elimina subrayado en el enlace */
}

/* Efecto de hover en las cajas de reloj */
.watch-card:hover {
    transform: translateY(-10px);
}

.watch-card a {
    text-decoration: none; /* Elimina subrayado en el enlace */
}

/* Estilo de la imagen principal */
.watch-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Estilo para el contenido (título, precio y otros) */
.watch-card .content {
    padding: 15px;
}

/* Título del reloj */
.watch-card .watch-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 6px;
    text-decoration: none; /* Elimina subrayado en el título */
}

/* Precio del reloj */
.watch-card .watch-price {
    font-size: 17px;
    color: rgb(48, 47, 47);
    font-weight: bold;
    margin-top: 10px;
    margin-left: 65%;
    margin-bottom: 5px;
    text-decoration: none; /* Elimina subrayado en el precio */
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
    .watches-container {
        grid-template-columns: repeat(3, 1fr); /* 3 relojes por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .watches-container {
        grid-template-columns: repeat(2, 1fr); /* 2 relojes por fila en tablets */
    }
}

@media (max-width: 480px) {
    .watches-container {
        grid-template-columns: repeat(1, 1fr); /* 1 reloj por fila en móviles */
    }
}

/* Ajusta el margen del precio en pantallas más pequeñas */
@media (max-width: 993px) {
    .watch-card .watch-price {
        margin-left: 75%;
    }
    #container {
        width: 95%; /* Aumenta el ancho en pantallas pequeñas */
    }
}

/* Detalles adicionales (ubicación, condición, etc.) */
.watch-card .watch-condition {
    font-size: 14px;
    color: #888;
    margin-left: 10px;
    text-decoration: none; /* Elimina subrayado en la condición */
}
